.taskBtn {
    display: flex;
    flex-direction: row;
}

.taskBtn div {
    font-size: 15px;
    width: 100px;
    background-color: white;
    margin: 30px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    align-content: center;
}